<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/HighlightJs/styles/vs.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/datejs.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/HighlightJs/highlight.pack.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">DataTables.Queryable Examples</a>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <br />        
        <a href="~/Sample1">Basic usage</a> |
        <a href="~/Sample2">Custom search predicate</a> |
        <a href="~/Sample3">Custom filter with parameter</a> |
        <a href="~/Sample4">AJAX POST</a> |
        <a href="~/Sample5">Async processing</a>
        <hr />

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Alexander Krutov, 2016&mdash;@DateTime.Now.Year</p>           
        </footer>
    </div>
</body>
</html>